body{
    background-color: red;
    color: white;
}
td{
    border: 2px solid black;
}

P{
    background-color: aqua;
    color: black;
}
a{
    background-color: yellow;
}
.container{
    background-color: green;
}
span{
    background-color: gray;
}

#red{
    background-color: saddlebrown;
}
.yellow{
    background-color: yellowgreen;
}